body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-bn{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 60px;
    
}
p {
    text-align: justify;
    
}

.name-head {
    color: #fb6957;
}

section{
    display: flex;
    margin-bottom: 35px;
}
.div-h{
    width: 50%;
    padding: 5%;

}
.div-h img{
    width: 80%;
    

}
.con-button{
    text-decoration: none;
   background-image: linear-gradient( rgb(255, 138, 70) , rgb(255, 56, 49) );
    padding: 10px 40px;
    border-radius: 5px;
    color: snow;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
   
    
}
.sec-a{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

