body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-bn{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 60px;
    
}
p {
    text-align: justify;
    
}

.name-head {
    color: #fb6957;
}

.flxb{
    display: flex;
    margin-bottom: 35px;
}
.div-h{
    width: 50%;
    padding: 5%;

}
.div-h img{
    width: 80%;
    

}
.con-button{
    text-decoration: none;
   background-image: linear-gradient( rgb(255, 138, 70) , rgb(255, 56, 49) );
    padding: 10px 40px;
    border-radius: 5px;
    color: snow;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
   
    
}
.sec-a{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.div-hhh{
    width: 40%;
    margin-left: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    margin-bottom: 80px;
   
    
    box-shadow: 10px 10px 30px gray;

}
h2{
    font-size: 40px;
}
.exp-a{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#uia{

    border-image: linear-gradient( blue,red);
    border-left: 8px solid;
    border-image-slice: 1;
}

#uib{
    border-image: linear-gradient( rgb(125, 243, 121),rgb(0, 85, 4));
    border-left: 8px solid;
    border-image-slice: 1;
}

footer p{
    text-align: center;
    color: rgb(255, 107, 131);
    font-size: 14px
}